*{
    padding: 0px;
    margin: 0px;
}
.nav{
    color: white;
    background-color: #bac01bff;
    height: 65px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.h{
    font-size: 1.6rem;
}
.h2{
    font-size: 2.2rem;
    padding-left: 300px;
}
.game-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: black;
    /* background-color: rgb(138, 237, 234); */
    flex-direction: row;
}
.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
}
.box{
    border: 2px solid #d45353;
    font-size: 6vw;
    color: #6a13a0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    cursor: pointer;
    background-color: rgb(220, 202, 220);
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.gameinfo{
    padding: 15px;
}
.gif img{
    margin-top: 10px;
    margin-left: 40px;
    width: 0px;
    transition: width 1s ease-in-out;
}
.last{
    margin-top: 10px;
}
.info{
    margin-left: 40px;
    padding: 10px;
    font-size: 1.8rem;
}
#reset{
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.3rem;
    background-color: rgb(233, 208, 233);
}
@media screen and (max-width: 950px)
{
    .game-container{
        flex-wrap: wrap;
    }
    .info{
        margin-top: 34px;
    }
    .info h1{
        font-size: 1.5rem;
    }
    .h2{
        font-size: 1.8rem;
        padding-left: 250px;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}